<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Assignment1 Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>17/08/23 15:35:52</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:Assignment1.NewTest@14bf9759]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1759301824</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/23 15:33:40</td>   <td>-131867</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.openBrowser(java.lang.String)[pri:0, instance:Assignment1.NewTest@59f99ea]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2031418680</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/23 15:33:40</td>   <td>-131867</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.openBrowser(java.lang.String)[pri:0, instance:Assignment1.NewTest@14bf9759]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1759301824</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/23 15:33:40</td>   <td>-131598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.tripAdvisor()[pri:0, instance:Assignment1.NewTest@59f99ea]">tripAdvisor</td> 
  <td>TestNG@2031418680</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/08/23 15:33:54</td>   <td>-117301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.tripAdvisor()[pri:0, instance:Assignment1.NewTest@14bf9759]">tripAdvisor</td> 
  <td>TestNG@1759301824</td>   <td></td> </tr>
</table>
