<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>17/08/21 18:16:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.openBrowser(java.lang.String)[pri:0, instance:[NewTest passed=0 failed=0 skipped=0]]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@117244645</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/08/21 18:16:53</td>   <td>6352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.tripAdvisor()[pri:0, instance:[NewTest passed=0 failed=0 skipped=0]]">tripAdvisor</td> 
  <td>main@117244645</td>   <td></td> </tr>
</table>
